<ion-header [translucent]="true">
  <ion-toolbar color="light">
    <ion-title>Pedido</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/store/mis-pedidos"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end" mode="ios">
      <!--<app-button-notifications></app-button-notifications>-->
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="light">
  <ion-header collapse="condense">
    <ion-toolbar color="light">
      <ion-title size="large">Pedido</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- Mostrar solo el paso actual -->
  <ion-segment [(ngModel)]="step" mode="md" (ionChange)="onStepChange($event)">
    <ion-segment-button *ngFor="let paso of steps; let i = index" [value]="i" [disabled]="i !== step">
      <ion-label>{{ paso }}</ion-label>
    </ion-segment-button>
  </ion-segment>

  <ng-container *ngIf="step === 0">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Nuevo</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Pedido nuevo, aún no procesado.
      </ion-card-content>
    </ion-card>
  </ng-container>

  <ng-container *ngIf="step === 1">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Pedido</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        El pedido fue tomado por el comercio y se encuentra en preparación.
      </ion-card-content>
    </ion-card>
  </ng-container>

  <ng-container *ngIf="step === 2">
    <ion-card>
      <ion-card-header>
        <ion-card-title>En camino</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-button color="light" [routerLink]="['/store/map-recorrido-pedido']" [queryParams]="{user: pedido?.uid, id: pedido?.id}">
          <ion-icon slot="start" src="assets/icons/moto.svg"></ion-icon>
          <ion-label>Ver motorizado</ion-label>
        </ion-button>
      </ion-card-content>
    </ion-card>
  </ng-container>


  <ng-container *ngIf="step === 3">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Asignado</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-button color="light" [routerLink]="['/store/map-recorrido-pedido']" [queryParams]="{user: pedido?.uid, id: pedido?.id}">
          <ion-icon slot="start" src="assets/icons/moto.svg"></ion-icon>
          <ion-label>Asignado a: </ion-label>
        </ion-button>
      </ion-card-content>
    </ion-card>
  </ng-container>

  <ng-container *ngIf="step === 4">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Entregado</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        El pedido fue entregado exitosamente.
      </ion-card-content>
    </ion-card>
  </ng-container>

  <ng-container *ngIf="!cargando">
    <ng-container *ngIf="pedido; else noPedido">
      <ion-grid fixed>
        <ion-row>
          <ion-col size="12">
            <ion-item detail color="light">
              <ion-label>
                <p>id: {{pedido.id}}</p>
                <p>{{pedido.date | datefire | date:'medium'}}</p>
              </ion-label>
            </ion-item>

            <ion-item color="light">
              <ion-icon name="person" slot="start" color="primary"></ion-icon>
              <ion-label>
                <ion-text color="primary">Datos:</ion-text>
                <p>{{pedido.info.datos?.name}}</p>
                <p>{{pedido.info.datos?.phone}}</p>
              </ion-label>
            </ion-item>

            <ion-item color="light">
              <ion-icon name="calendar" slot="start" color="primary"></ion-icon>
              <ion-label>
                <ion-text color="primary">Fecha de entrega:</ion-text>
                <p>{{ pedido.info.fechaEntrega | datefire | date:'dd-MM-yyyy'}}</p>
              </ion-label>
            </ion-item>

            <ion-item detail color="light" lines="full" [routerLink]="['/store/map-direccion-pedido']"
              [queryParams]="{lat: pedido.info.direccionEntrega.coordinate.lat,
                lng: pedido.info.direccionEntrega.coordinate.lng, readonly: true}">
              <ion-icon name="location" slot="start" color="danger"></ion-icon>
              <ion-label>
                <ion-text color="primary">Dirección de entrega:</ion-text>
                <p>{{pedido.info.direccionEntrega.referencia}}</p>
              </ion-label>
            </ion-item>

            <ion-accordion-group>
              <ion-accordion value="first">
                <ion-item slot="header" color="light">
                  <ion-label>Productos</ion-label>
                </ion-item>
                <div class="ion-padding" slot="content">
                  <ng-container *ngFor="let item of pedido.carrito.items">
                    <ion-item lines="full" detail [routerLink]="['/store/item/' + item.product.enlacePermanente]">
                      <ion-thumbnail slot="start">
                        <img [src]="item.product.images[0]" />
                      </ion-thumbnail>
                      <ion-label>
                        {{item.product.name}}
                      </ion-label>
                      <ion-buttons slot="end">
                        <ion-button>{{item.product.price | currency}}</ion-button>
                      </ion-buttons>
                    </ion-item>
                  </ng-container>
                </div>
              </ion-accordion>
            </ion-accordion-group>

            <ion-item lines="none" color="light">
              <ion-badge slot="end">{{pedido.carrito.total | currency}}</ion-badge>
              <ion-label class="ion-text-end">
                <strong>Total:</strong>
              </ion-label>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ng-container>

    <ng-template #noPedido>
      <div class="ion-text-center content-center">
        <p>No existe el pedido</p>
      </div>
    </ng-template>
  </ng-container>

  <ng-container *ngIf="cargando">
    <div class="ion-text-center content-center">
      <ion-spinner name="bubbles"></ion-spinner>
    </div>
  </ng-container>
</ion-content>
